<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<ul>

  <li>
    <nav>
      <a routerLink="/NewPage">New Page</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/Dashboard">Dashboard</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/sender">Sender</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/application">Application</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/shipmentagent">Shipment Agents</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/vehicle">Vehicle</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/vehicletype">Vehicle Type</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/pricing">Pricing</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/package">Package Type</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/employee">Employees</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/accessroles">Access Roles</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/reports">Reports</a>
    </nav>
  </li>
  <li>
    <nav>
      <a routerLink="/auditlog">Audit Log</a>
    </nav>
  </li>
</ul>
<router-outlet></router-outlet>
<footer>footer</footer>
